ul {
    padding-left: 0;
}
a {
    text-decoration: none;
}
.box {
    width: 1150px;
    margin: 0 auto;
}

.jumbo {
    background-image: url(/public/img/Deliveroo-rider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    width: 100%;
    color: white;
    h1 {
        margin-bottom: 25px;
        font-size: 60px;
    }
    h5 {
        margin-bottom: 30px;
        font-size: 20px;
    }
    button {
        padding: 15px 70px;
        background-color: rgb(0, 204, 188);
        border-radius: 10px;
        color: white;
        font-size: 18px;
        border: none;
        margin-bottom: 100px;
    }
}
.know-more-cards {
    margin-top: 30px;
    height: 450px;
    color: white;

    .know-more {
        height: 100%;
        width: 450px;
        padding-left: 15px;
        padding-bottom: 20px;
        border-radius: 15px;
    }
    a {
        background-color: rgb(0, 204, 188);
        color: white;
        border-radius: 10px;
        border: none;
        padding: 15px 20px;
        width: 30%;
    }
}

.supermarket,
.restaurant {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.supermarket {
    background-image: url(/public/img/supermercati.jpg);
}
.restaurant {
    background-image: url(/public/img/ristoratori.webp);
}
.info-list,
.rider-spalle-img {
    width: 48%;
    margin-top: 50px;
    border-radius: 10px;
    img {
        width: 100%;
        border-radius: 15px;
    }
    padding-bottom: 30px;
}
ul {
    list-style: none;
}
.improves {
    height: 700px;
    background-color: rgb(3, 127, 139);
    color: white;
    p {
        padding-bottom: 30px;
    }
}
.improves-marketing,
.improves-consegna,
.improves-ritiri {
    height: 450px;
    width: 350px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    a {
        background-color: rgb(0, 204, 188);
        color: white;
        border-radius: 10px;
        border: none;
        padding: 15px 20px;
        width: 40%;
    }
}
.marketing {
    background-image: url(/public/img/barbieri.jpg);
    background-position: center;
}
.consegna {
    background-image: url(/public/img/deliveroo-consegna.jpg);
    background-position: center;
}
.ritiri {
    background-image: url(/public/img/ritiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer {
    background-color: rgb(46, 51, 51);
    height: 400px;
    color: white;
}
.footer-card {
    background-color: rgb(67, 72, 72);
    width: calc(100% / 4 - 10px);
    border-radius: 10px;
    padding: 10px 10px;

    ul {
        list-style: none;

        li {
            padding-bottom: 8px;
            a {
                color: white;
            }
        }
    }
}
.partner {
    .footer-btn {
        background-color: rgb(0, 204, 188);
        color: white;
        border-radius: 10px;
        border: none;
        padding: 10px 10px;
        width: 40%;
    }
}
